body{
    background-color: rgb(37, 37, 37);

}

h1, h3{
    color: #ffffffea;
    text-align: center;
}

p{
    color: #fff;
}

.btn{
    color: purple;
    border: 0;
    transition: 0.3s;
}

.btn:hover{
    color: purple;
    transform: scale(1.05);
}

[class*= "quadrado"]{
    padding: 1rem;
    background-color: rgb(37, 37, 37);
    border: 2px solid indigo;
    border-radius: 15px;
}